option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: "LoadBalanced"
  aws:elasticbeanstalk:application:environment:
    HEALTHCHECK_PATH: "/health"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"
    HealthCheckInterval: 60
    HealthCheckTimeout: 6
    HealthyThresholdCount: 2
    UnhealthyThresholdCount: 6
